@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::before, *::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}


input{
    padding: 0.4em;
    margin: 0.4em;
}

.todo-container{
    padding: 0.4em;
}

.todo{
    margin-bottom: 0.7em;
}